<header class="header">
  <img class="header__logo" src="../assets/images/logo.png" alt="logo Spotify" />
  <nav class="header__menu">
    <ul>
      <li class="header__menu--item">
        <a href="#" class="header__menu--link">Premium</a>
      </li>
      <li class="header__menu--item">
        <a href="#" class="header__menu--link">Ayuda</a>
      </li>
      <li class="header__menu--item">
        <a href="#" class="header__menu--link">Descargar</a>
      </li>
      <li class="header__menu--item">
        <a href="#" class="header__menu--link">Registrarse</a>
      </li>
      <li class="header__menu--item">
        <a href="#" class="header__menu--link">Iniciar Sesión</a>
      </li>
    </ul>
  </nav>
</header>
