<main class="main">
  <header class="main__header">
    <h1 class="main__header--title">Prueba Premium gratis 3 meses</h1>
    <h2 class="main__header--subtitle">Escucha millones de canciones sin anuncios, a la carta y sin conexión.</h2>
    <a href="#" class="main__header--bottom">Ver planes</a>
    <small class="main__header--small">Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya hayan probado Premium.</small>
  </header>

  <section class="premium">
    <header class="premium__header">
      <h3 class="premium__title">¿Por qué pasarate a Premium?</h3>
    </header>
    <ul class="premium__features">
      <li class="premium__features--list">
        <img class="premuim__feature--image" src="../assets/images/benefit-1.png" alt="oferta 1" />
        <div class="premium__features--text">
          <header class="premium__features--title">Descarga música</header>
          <p class="premium__features--desc">Llévala siempre contigo.</p>
        </div>
      </li>
      <li class="premium__features--list">
        <img class="premuim__feature--image" src="../assets/images/benefit-2.png" alt="oferta 2" />
        <div class="premium__features--text">
          <header class="premium__features--title">Sin anuncios.</header>
          <p class="premium__features--desc">
            Disfruta de música sin interrupciones.
          </p>
        </div>
      </li>
      <li class="premium__features--list">
        <img class="premuim__feature--image" src="../assets/images/benefit-3.png" alt="oferta 3" />
        <div class="premium__features--text">
          <header class="premium__features--title">
            Escucha lo que quieras.
          </hader>
          <p class="premium__features--desc">Incluso en el móvil.</p>
        </div>
      </li>
      <li class="premium__features--list">
        <img class="premuim__feature--image" src="../assets/images/benefit-4.png" alt="oferta 4" />
        <div class="premium__features--text">
          <header class="premium__features--title">
            Salta todas las canciones que quieras.
          </header>
          <p class="premium__features--desc">
            Simplemente dale a siguiente.
          </p>
        </div>
      </li>
    </ul>
  </section>
</main>
