<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Practica Spotify</title>
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <header class="header">
      <img class="header__logo" src="../assets/images/logo.png" alt="logo Spotify" />
      <nav class="header__menu">
        <ul>
          <li class="header__menu--item">Premium</li>
          <li class="header__menu--item">Ayuda</li>
          <li class="header__menu--item">Descargar</li>
          <li class="header__menu--item">Registrarse</li>
          <li class="header__menu--item">Iniciar Sesión</li>
        </ul>
      </nav>
    </header>
    <section class="hero">
      <article class="hero__article">
        <h1 class="hero__article--title">Prueba Premium gratis 3 meses</h1>
        <h2 class="hero__article--text">Escucha millones de canciones sin anuncios, a la carta y sin conexión.</h2>
      </article>
      <a href="#">Ver planes</a>
      <small>Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya hayan probado Premium.</small>
    </section>
    <main class="main">
      <h2 class="main__title">¿Por qué pasarate a Premium?</h2>
      <ul class="main__list">
        <li class="main__list--item">
          <img class="main__list--image" src="../assets/images/benefit-1.png" alt="oferta 1" />
          <div class="main__list--text">
            <h3 class="main__list--title">Descarga música</h3>
            <p class="main__list--desc">Llévala siempre contigo.</p>
          </div>
        </li>
        <li class="main__list--item">
          <img class="main__list--image" src="../assets/images/benefit-2.png" alt="oferta 2" />
          <div class="main__list--text">
            <h3 class="main__list--title">Sin anuncios.</h3>
            <p class="main__list--desc">
              Disfruta de música sin interrupciones.
            </p>
          </div>
        </li>
        <li class="main__list--item">
          <img class="main__list--image" src="../assets/images/benefit-3.png" alt="oferta 3" />
          <div class="main__list--text">
            <h3 class="main__list--title">
              Escucha lo que quieras.
            </h3>
            <p class="main__list--desc">Incluso en el móvil.</p>
          </div>
        </li>
        <li class="main__list--item">
          <img src="../assets/images/benefit-4.png" alt="oferta 4" />
          <div class="main__list--text">
            <h3 class="main__list--title">
              Salta todas las canciones que quieras.
            </h3>
            <p class="main__list--desc">
              Simplemente dale a siguiente.
            </p>
          </div>
        </li>
      </ul>
    </main>
    <footer class="footer">
      <nav class="footer__list">
        <ul>
          <li class="footer__list--item">Legal</li>
          <li class="footer__list--item">Cookies</li>
          <li class="footer__list--item">Informacion sobre los anuncios</li>
        </ul>
      </nav>
      <div class="footer__copy">
        <p class="footer__lang">
          España
          <img class="footer__lang__img" src="./images/es.svg" alt="" title="Lenguaje español" />
        </p>
        <p>© 2019 Spotify AB</p>
      </div>
    </footer>
  </body>
</html>
