<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Practica Spotify</title>
    <link rel="stylesheet" href="../assets/scss/main.scss" />
  </head>
  <body>
    <header class="header">
      <img src="../assets/images/logo.png" alt="logo Spotify" />
    </header>
    <hero class="hero">
      <article class="hero__article">
        <h1 class="hero__article--title">Prueba Premium gratis 3 meses</h1>
        <p class="hero__article--text"></p>
      </article>
      <button class="hero__button">ver planes</button>
      <p class="hero__text"></p>
    </hero>
    <main class="main">
      <h2 class="main__title">¿Por qué pasarate a Premium?</h2>
      <ul class="main__list">
        <li class="main__list--item"></li>
        <li class="main__list--item"></li>
        <li class="main__list--item"></li>
        <li class="main__list--item"></li>
      </ul>
    </main>
    <footer class="footer">
      <ul class="footer__list">
        <li class="footer__list--item"></li>
        <li class="footer__list--item"></li>
        <li class="footer__list--item"></li>
      </ul>
      <div class="copy"></div>
    </footer>
  </body>
</html>
