.main {
  border: 3px solid yellow;
  margin-top: 4.125rem;

  &__header {
    background: #509bf5;
    height: 50vh;
    color: white;
    padding: 6rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;

    &--title {
      font-size: 6rem;
    }
    &--subtitle {
      font-size: 3rem;
    }
    &--bottom {
      background: rgb(92, 238, 92);
      height: 3.5vh;
      text-align: center;
      justify-items: center;
      color: white;
      font-size: 2rem;
      font-weight: bold;
      padding-bottom: 3.5rem;
    }
    &--small {
      margin-top: 2rem;
      font-size: 1rem;
    }
  }
}
.premium {
  margin: auto;
  max-width: 500px;

  &__header {
    text-align: center;
  }
  &__title {
    display: inline-block;
    font-size: 48px;
    font-weight: 900;
  }
}
